img {
  border-radius: 50%;
  height: 300px;
}

section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 10px;
}

img:hover {
  opacity: 0.2;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  width: 299px;
}